h1{
	color: red;
}


.ven{
	color: white;
	background :blue;
	font-size: 10px;
	width: 100px;
	height: 100px;
	width: 100px;


}
.new span{
	color: white;
}
#block{
	background :green;
}
ul{
	font-size: 100px
	border: 6px solet black;

}
